<!DOCTYPE HTML>
    <html>
        <script type="module">
            import RefreshRuntime from 'http://localhost:5173/@react-refresh'
            RefreshRuntime.injectIntoGlobalHook(window)
            window.$RefreshReg$ = () => {}
            window.$RefreshSig$ = () => (type) => type
            window.__vite_plugin_react_preamble_installed__ = true
          </script>
          
        <script type="module" src="http://localhost:5173/@vite/client"></script>
        <script type="module" src="http://localhost:5173/main.jsx"></script>
        <script>
            // fetch('http://localhost:5173/main.jsx').then(response => response.text()).then(text => console.log(text))
        </script>
        <body>
            <div id="app"></div>
            <!-- RACZEJ DO SKASOWANIA ten plik, zamisat tego flask powinien renderowac Viteowego index.html -->
            <div>YOYO</div>
        </body>
    </html>